@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
body{
    background-color: rgb(139, 85, 85);
}
.container{
    /* background: url(frame.jpg) no-repeat center center/cover; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}
/* .container::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgb(139, 85, 85);
    background: url(frame.jpg) no-repeat center center/cover; 
    z-index: -1;
    filter: blur(5px);
} */
.username{
    text-align: center;
    width: 100%;
   
}
.form{
    width: 50vh;
    background-color: aliceblue;
    /* border: 5px solid black; */
}
input{
    font-family: 'Eczar', serif;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 40vh;
    border-radius: 15px;
    text-align: center;
    border-color: #b713a1;
}
.title{
    font-family: 'Eczar', serif;
    /* background-color: #b713a1; */
    color: #ffffff;
}
p{
    font-family: 'Eczar', serif;
    color: #b713a1;
}
.container .btn{
   display: flex;  
}
button{
    font-family: 'Eczar', serif;
    cursor: pointer;
    margin: 35px auto;
    height: 5vh;
    width: 20vh;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-color: #b713a1;
}
button:hover{
    background-color: #b713a1;
    transition: all 1s;
}
footer{
    font-family: 'Eczar', serif;
   text-align: center;
   color: #00ffff;
}

footer a{
    color: #00ffff;
    text-decoration: none;
}